extends layout

block page
        .container
            .row.content
                .span6.offset3
                    .alert.alert-success.list-font
                        form(method='post',action='/add')
                            p
                                待辦事項:
                            input.span5(name='add_title',type="text",class="msgbox2",value=add_title)
                            p
                                說明:
                            textarea.span5(name='add_desc',type="text",rows="3")
                            p
                                到期日:
                            input.span5.Wdate(name='add_date',type="text",onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})")
                            button.btn.btn-primary(type="submit")
                                新增
    
