extends layout

block page
        .container
            .row.content
                .span6.offset3
                    .alert.alert-success.list-font
                        form(method='post',action='/change')
                            input(name='getid',type="hidden",value= info._id)  
                            p
                                待辦事項:
                            input.span5(name='change_title',type="text",class="msgbox2",placeholder='',value=info.item.title)
                            p
                                說明:
                            textarea.span5(name='change_desc',type="text",rows="3")
                                |#{info.item.desc}
                            p
                                到期日:
                            input.span5.Wdate(name='change_date',type="text",placeholder=info.item.expire_date,onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})")
                            button.btn.btn-primary(type="submit")
                                修改
                            a.btn.btn-primary(href='/')
                                取消
